@font-face {
    font-family: 'Roca One';
    src: url("RocaOne-Rg.ttf"); /* ou .ttf para fontes .ttf */
    /* Adicione mais formatos se necessário (eot, svg, etc.) */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F1F1F1;
    font-family: 'Roca One';
    padding: 1.5em;

}

.logo {
    width: 350px;
    height: 350px;
    margin-bottom: 2em;
    
}

.form__cadastro {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    
}

label {
    padding-bottom: 0.4em;

}

input {
    width: 300px;
    outline-style: none;
    border-bottom: solid 1px #FA6289;
    margin-bottom: 1.2em;
    background-color: #F1F1F1;

}



.botao__cadastrar {
    width: 300px;
    height: 45px;
    color: #F1F1F1;
    background-color: #FA6289;
    margin-top: 1em;
    transition: ease .5s;

}

.botao__cadastrar:hover {
    color: #FA6289;
    background-color: #F1F1F1;
    border: solid 1px #FA6289;
    cursor: pointer;
    transition: ease .5s;

}

.cadastro__faca--login {
    color: #FA6289;
    padding-top: 1em;   
    margin: 0.2em auto 3em auto;
    transition: ease .5s;
    
}

.botao__faca--login:hover {
    text-decoration: underline #FA6289;
    cursor: pointer;
    transition: ease .5s;

}